submission_max_mail_size = 1M
submission_max_recipients = 10
submission_relay_host = {{ submission_relay_host }}
submission_relay_port = {{ submission_relay_port }}
submission_relay_user = {{ submission_relay_user }}
submission_relay_password = {{ submission_relay_password }}
submission_relay_ssl = starttls
submission_relay_ssl_verify = yes
protocol submission {
}

